.page-header {
    font-weight: 600;
    margin: 0px;
    padding: 20px;
    color: #ffffee;
    font-size: 30px;
    background-color: #04123ac4;
}

.game-area {
width: auto;
height:500px;
}

.page-footer {
width: auto;
}