@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

body{
  background: #e0e0e0;
  background-image: url(/assets/images/Quiz.webp);
  background-repeat: no-repeat;
}

h1{
  font-weight: 600;
  margin: 0px;
  padding: 20px;
  color: #ffffee;
  font-size: 30px;
  background-color: #04123ac4;
}

.start_btn,
.rule_box,
.quiz_area, 
.result_area{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
              0px 6px 20px 0 rgba(0,0,0,0.19);
  transition: all 0.2s ease;
}

.rule_box.activeRule, 
.quiz_area.activeQuiz{
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50% -50%) scale(1);
}

.start_btn button{
  font-size: 25px;
  font-weight: 300;
  color: #ffffee;
  background-color: #146b8d;
  padding: 10px 15px;
  border: 0px;
  border-radius: 3px;
  cursor: pointer;
}

.rule_box{
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  background-color: #f8f6f0;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% -50%) scale(0.9);
}

.rule_box .rule_title{
  height: 50px;
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  align-items:center;
  padding: 0 10px;
  font-size: 25px;
  font-weight: 600;
}

.rule_box .rule_list{
  padding: 15px 35px;
  display: grid;
  margin: 20px 0;
  gap: 10px;
}

.rule_box .rule_list .rule{
  margin: 5px 0;
  font-size: 20px;
}

.rule_box .rule_list .rule span{
  font-weight: 600;
  color: red;
}

.rule_box .buttons{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px solid gray;
}

.rule_box .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 400px;
  border: 1px solid #146b8d;
  border-radius: 5px;
  color: #ffffee;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s ease;
}

.buttons button.restart{
  color: #ffffee;
  background-color: #146b8d;
}

.buttons button.restart:hover{
  background: #083b50;
}

.buttons button.quit{
  color: #ffffee;
  background-color: #146b8d;
}

.buttons button.quit:hover{
  background:rgb(219, 7, 7);
}

.quiz_area {
  width: 800px;
  background: #fff;
  border-radius: 5px; 
  box-shadow: 0 0 10px 2px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% -50%) scale(0.9);
}

.quiz_area header{
  position: relative;
  z-index: 99;
  height: 80px;
  padding: 0 40px;
  background: #ffffee;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid gray
}

.quiz_area header .title{
  font-size: 20px;
  font-weight: 400;
}

.quiz_area header .timer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 165px;
  height: 60px;
  background: rgb(186, 219, 229);
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 10px;
}

.quiz_area header .timer .time{
  font-weight: 400;
  font-size: 20px;
  user-select: none;
}

.quiz_area header .timer .timer_sec{
  font-size: 20px;
  font-weight: 600;
  background: #343434;
  height: 30px;
  width: 50px;
  color: #fff;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  border: 1px solid gray;
  user-select: none;
}

.quiz_area section{
  padding: 35px 40px 30px 40px;
  background:#fff;
}

.quiz_area section .question{
  font-size: 25px;
  font-weight: 600;
}

.quiz_area section .answer_list{
  padding: 30px 0;
  display: grid;
  gap: 10px;
} 

section .answer_list .answers{
  background: #146b8d;
  border: 1px solid #343434;
  border-radius: 5px;
  padding: 18px 25px;
  margin-bottom: 15px;
  font-family: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.1s ease;
}

section .answer_list .answers:hover{
  color: #fff;
  background: #083b50;
  border-color: #fff;
}

.answer_list .answers:last-child{
  margin-bottom: 0px
}

.answer_list .answers .icon{
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  pointer-events: none;
}

.answer_list .answers .icon.tick{
  color: rgb(52, 214, 37);
  border-color: rgb(52, 214, 37);
  background:#fff;
}

.answer_list .answers .icon.cross{
  color:rgb(219, 7, 7);
  border-color: rgb(219, 7, 7);
  background-color: #fff;
}

.quiz_area footer{
  height: 60px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_area footer .total_questions span{
  display: flex;
  user-select: none;
}

footer .total_questions span p{
  font-weight: 600;
  padding: 0 5px;

}

footer .total_questions span p{
  padding-left: 0px;
}

footer .next_btn{
  height: 50px;
  padding: 0 13px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  background: #146b8d;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #343434;
  cursor: pointer;
}

footer .next_btn:hover{
  background: #083b50;
}

.result_area{
  background: #f8f6f0;
  width: 600px;
  padding: 35px 40px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50% -50%) scale(0.9);

}

.result_area .completion_text{
  font-size: 20px;
  font-weight: 600;
}

.result_area .score span{
  display: flex;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
}

.score span p{
  font-weight: 700;
  font-size: 20px;
  padding: 0 4px;
}

.result_area .buttons{
  display: flex;
  margin: 25px 0;
}

.result_area .buttons button{
  margin: 0 10px;
  height: 50px;
  padding: 0 25px;
  border: none;
  outline: none;
  font-size:20px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #343434;
  cursor: pointer;
  transition: all 0.1s ease;
}