@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand, sans-serif;
}

body{
  background: #e0e0e0;
  background-image: url(../images/Background\ quiz.webp);
  background-repeat: no-repeat;
}

.start_btn,
.rule_box,
.quiz_area, 
.result_area{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2),
              0px 6px 20px 0 rgba(0,0,0,0.19);
  transition: all 0.2s ease;
}

.rule_box.activeRule, 
.quiz_area.activeQuiz,
.result_area.activeResult{
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
}


/* Rule box */

.rule_box{
  width: 800px;
  max-width: 80%;
  border-radius: 5px;
  background-color: #f8f6f0;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  opacity: 0;
  pointer-events: none;
}

.rule_box .rule_title{
  height: 50px;
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  align-items:center;
  padding: 0 10px;
  font-size: 25px;
  font-weight: 600;
}

.rule_box .rule_list{
  padding: 15px 35px;
  display: grid;
  margin: 20px 0;
  gap: 10px;
}

.rule_box .rule_list .rule{
  margin: 5px 0;
  font-size: 20px;
}

.rule_box .rule_list .rule span{
  font-weight: 600;
  color: red;
}


/* Quiz area */

.quiz_area {
  width: 800px;
  background: #fff;
  border-radius: 5px; 
  box-shadow: 0 0 10px 2px;
  opacity: 0;
  pointer-events: none;
}

.quiz_area header{
  position: relative;
  z-index: 99;
  height: 80px;
  padding: 0 40px;
  background: #ffffee;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid gray
}

.quiz_area header .title{
  font-size: 20px;
  font-weight: 400;
}


.quiz_area section{
  padding: 35px 40px 30px 40px;
  background:#fff;
}

.quiz_area section .question{
  font-size: 25px;
  font-weight: 600;
}

.quiz_area section .answer_list{
  padding: 30px 0;
  display: grid;
  gap: 10px;
} 

section .answer_list .options{
  background: #146b8d;
  border: 1px solid #343434;
  border-radius: 5px;
  padding: 18px 25px;
  margin-bottom: 15px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.1s ease;
}

section .answer_list .options:hover{
  color: #fff;
  background: #083b50;
  border-color: #fff;
}

.answer_list .options:last-child{
  margin-bottom: 0px
}

.answer_list .options .icon{
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  pointer-events: none;
}

.answer_list .options .icon.tick{
  color: rgb(52, 214, 37);
  border-color: rgb(52, 214, 37);
  background:#fff;
}

.answer_list .options .icon.cross{
  color:rgb(219, 7, 7);
  border-color: rgb(219, 7, 7);
  background-color: #fff;
}

.answer_list .options.correct{
  color: #fff;
  background: rgb(28, 161, 16);
  border-color: rgb(116, 232, 106);
}

.answer_list .options.incorrect{
  color: #fff;
  background: rgb(207, 34, 34);
  border-color: rgb(176, 115, 117);
}

.answer_list .options.disabled{
  pointer-events: none;
}

.quiz_area footer{
  height: 60px;
  width: 100%;
  padding: 0 40px 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quiz_area footer .total_questions span{
  display: flex;
  user-select: none;
}

footer .total_questions span p{
  font-weight: 600;
  padding: 0 5px;

}

footer .total_questions span p{
  padding-left: 0px;
}

/* Result area */

.result_area{
  background: #f8f6f0;
  width: 600px;
  padding: 35px 40px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
}

.result_area .icon{
  font-size: 110px;
  color: goldenrod;
  margin-bottom: 10px;
}

.result_area .completion_text{
  font-size: 20px;
  font-weight: 700;
}

.result_area .score span{
  display: flex;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 600;
}

.score span p{
  font-weight: 700;
  font-size: 20px;
  padding: 0 4px;
}

